DB_ENGINE=postgresql
DB_NAME=dequa_data_versions
DB_USER=dequa
DB_PASSWORD=dequa
DB_HOST=localhost
DB_PORT=5432
TBL_CURRENT_DATA=current_data
TBL_STREET=graph_street
TBL_WATER=graph_water
TBL_WATERBUS=graph_waterbus
FILE_FOLDER=/app
GRAPH_FOLDER=graphs
GTFS_FOLDER=gtfs
